# System state
.cache/
.local/
.android/
.cargo/
.rustup/
.npm/
.pki/
.gnupg/
.ssh/
.var/

# Desktop folders
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/

# Runtime junk
.bash_history
.bash_logout
.node_repl_history

# others
.codeium 
.icons/
.vscode-oss/
.waterfox/
.wget-hsts
.windsurf/
todo
.dots/
.gtkrc-2.0
.config/KDE/
.config/QtProject.conf
.config/QtProject/
.config/Trolltech.conf
.config/VSCodium/
.config/Windsurf/
.config/arch-config/state/
.config/arkrc
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/cachyos-hello.json
.config/cachyos/
.config/configstore/
.config/dconf/
.config/dolphinrc
.config/filetypesrc
.config/fontconfig/
.config/git/
.config/gnome-boxes/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/kactivitymanagerdrc
.config/kate-externaltoolspluginrc
.config/katevirc
.config/kcminputrc
.config/kconf_updaterc
.config/kdeconnect/
.config/kded5rc
.config/kded6rc
.config/kdedefaults/
.config/kdeglobals
.config/keepassxc/
.config/kglobalshortcutsrc
.config/kiorc
config/konsave/
.config/konsolerc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kwinrulesrc
.config/libaccounts-glib/
.config/libinput-gestures.conf
.config/libreoffice/
.config/libvirt/
.config/micro/
.config/mimeapps.list
.config/mozilla/
.config/net.imput.helium/
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmanotifyrc
.config/plasmaparc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/session/
.config/spectaclerc
.config/systemmonitorrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/whatsit/
.config/xsettingsd/
.config/zsh/.zcompdump
.config/btop/
.config/cava/
.config/kate/
.config/katerc
.config/konsave/
.config/ksplashrc
