@define-color borders_breeze #686868;
@define-color content_view_bg_breeze #2d2d2d;
@define-color error_color_backdrop_breeze #eb1313;
@define-color error_color_breeze #f00101;
@define-color error_color_insensitive_backdrop_breeze #711e1e;
@define-color error_color_insensitive_breeze #711e1e;
@define-color insensitive_base_color_breeze #2d2d2d;
@define-color insensitive_base_fg_color_breeze #777777;
@define-color insensitive_bg_color_breeze #353535;
@define-color insensitive_borders_breeze #474747;
@define-color insensitive_fg_color_breeze #7c7c7c;
@define-color insensitive_selected_bg_color_breeze #353535;
@define-color insensitive_selected_fg_color_breeze #7c7c7c;
@define-color insensitive_unfocused_bg_color_breeze #353535;
@define-color insensitive_unfocused_fg_color_breeze #7c7c7c;
@define-color insensitive_unfocused_selected_bg_color_breeze #353535;
@define-color insensitive_unfocused_selected_fg_color_breeze #7c7c7c;
@define-color link_color_breeze #2eb8e6;
@define-color link_visited_color_breeze #ff6666;
@define-color success_color_backdrop_breeze #a2f3a2;
@define-color success_color_breeze #80ff80;
@define-color success_color_insensitive_backdrop_breeze #4a774a;
@define-color success_color_insensitive_breeze #4a774a;
@define-color theme_base_color_breeze #2d2d2d;
@define-color theme_bg_color_breeze #353535;
@define-color theme_button_background_backdrop_breeze #363636;
@define-color theme_button_background_backdrop_insensitive_breeze #353535;
@define-color theme_button_background_insensitive_breeze #353535;
@define-color theme_button_background_normal_breeze #353535;
@define-color theme_button_decoration_focus_backdrop_breeze #a8a8a8;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #5e5e5e;
@define-color theme_button_decoration_focus_breeze #aaaaaa;
@define-color theme_button_decoration_focus_insensitive_breeze #5e5e5e;
@define-color theme_button_decoration_hover_backdrop_breeze #959595;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #575757;
@define-color theme_button_decoration_hover_breeze #969696;
@define-color theme_button_decoration_hover_insensitive_breeze #575757;
@define-color theme_button_foreground_active_backdrop_breeze #fafafb;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #7c7c7c;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #7c7c7c;
@define-color theme_button_foreground_backdrop_breeze #fafafa;
@define-color theme_button_foreground_backdrop_insensitive_breeze #7c7c7c;
@define-color theme_button_foreground_insensitive_breeze #7c7c7c;
@define-color theme_button_foreground_normal_breeze #ffffff;
@define-color theme_fg_color_breeze #ffffff;
@define-color theme_header_background_backdrop_breeze #363636;
@define-color theme_header_background_breeze #353535;
@define-color theme_header_background_light_breeze #353535;
@define-color theme_header_foreground_backdrop_breeze #fafafa;
@define-color theme_header_foreground_breeze #ffffff;
@define-color theme_header_foreground_insensitive_backdrop_breeze #fafafa;
@define-color theme_header_foreground_insensitive_breeze #fafafa;
@define-color theme_hovering_selected_bg_color_breeze #969696;
@define-color theme_selected_bg_color_breeze #15539e;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #ffffff;
@define-color theme_titlebar_background_backdrop_breeze #353535;
@define-color theme_titlebar_background_breeze #2d2d2d;
@define-color theme_titlebar_background_light_breeze #353535;
@define-color theme_titlebar_foreground_backdrop_breeze #9b9b9b;
@define-color theme_titlebar_foreground_breeze #ffffff;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #9b9b9b;
@define-color theme_titlebar_foreground_insensitive_breeze #9b9b9b;
@define-color theme_unfocused_base_color_breeze #2f2f2f;
@define-color theme_unfocused_bg_color_breeze #363636;
@define-color theme_unfocused_fg_color_breeze #fafafa;
@define-color theme_unfocused_selected_bg_color_alt_breeze #17549d;
@define-color theme_unfocused_selected_bg_color_breeze #17549d;
@define-color theme_unfocused_selected_fg_color_breeze #fafafb;
@define-color theme_unfocused_text_color_breeze #fafafa;
@define-color theme_unfocused_view_bg_color_breeze #2d2d2d;
@define-color theme_unfocused_view_text_color_breeze #777777;
@define-color theme_view_active_decoration_color_breeze #969696;
@define-color theme_view_hover_decoration_color_breeze #969696;
@define-color tooltip_background_breeze #000000;
@define-color tooltip_border_breeze #404040;
@define-color tooltip_text_breeze #ffffff;
@define-color unfocused_borders_breeze #676767;
@define-color unfocused_insensitive_borders_breeze #474747;
@define-color warning_color_backdrop_breeze #f8da16;
@define-color warning_color_breeze #ffdd00;
@define-color warning_color_insensitive_backdrop_breeze #776b1d;
@define-color warning_color_insensitive_breeze #776b1d;
